@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Open Sans', sans-serif;
	font-display: fallback;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.form-group{
	margin-top: 25px;
}

.navbar{
	padding: 0 15px;
}
header{
	background: orange;	
	
}



section{
	padding-top: 20px;
}


#menu{
	background: orange;
	height: 100%;
	width: 0px;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	
}

#menu a{
	color: #fff;
	font-size: 25px;
	display: block;
	padding: 12px 10px 12px 10px;
	text-decoration: none;
	cursor: pointer;
	
}

#menu a:hover{
	color: orange;
	background: #fff;
}

#fecharMenu{
	margin-top: 53px;
	margin-bottom: 50px;
}

tbody{
	font: 16px/1.4 sans-serif;  
	max-width: 1200px;  
	margin: 0 auto;
	padding: 20px;
}

#adicionar{
	width: 0;
	right: 0;
	background: orange;
	height: 100%;
	position: fixed;
	top: 0;
	overflow: hidden;
	text-decoration: none;
	color: #fff;
	overflow:auto;
}

#adicionar button{
	margin: 20px 0px 0px 10px;
	float: right;
	
}

#adicionar a{
	color: #fff;
}


#complemento{
	display: none;
}

#complemento table{
	border: 1 solid #fff;
	overflow: auto;
	height: 300px;
	width: 100%;
}

#novoComplemento{
	display: none;
}

#show-cartao{
	display: none;
}

#show-dinheiro{
	display: none;
}

#showEndereco{
	display: block;
}


@media (min-width: 640px) {
	.adicionar{
		
			width: 100%;
			padding: 25px;
		
	}
  }








