@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Open Sans', sans-serif;
	font-display: fallback;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* css login*/

.container-login{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: #ecf0f1 ;
	
}
.content{
	border-radius: 15px;
	background: #fff;
	height: 80%;
	width: 70%;
	display: grid;
/*	grid-template-columns: 1fr 1fr;
	grid-template-areas: "first-column" "second-column";*/
	justify-content: space-between;
	align-items: center;	
	position: relative;
}

.content::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: orange;
	border-radius: 15px;

	left: 0;
}
.first-content{
	display: flex;	
}

.first-content .second-column {
    z-index: 11;
}


.first-column{
	grid-area: first-column;
	width: 100%;
	z-index: 10;
	display: flex;
	align-items: center;
	flex-direction: column;
	
}

.second-column{
	grid-area: second-column;
	text-align: center;
	padding: 10px;
	width: 40%;
	
}


.second-content{
	display: flex;
	position: absolute;
	
}
.third-content{
	position: absolute;
	display: flex;
}

.form{
	display: flex;
	flex-direction: column;
}

.title{
	font-size: 24px;
	font-weight: bold;
	text-transform: capitalize;
}
.title-primary{
	color: #fff;
}

.txt{
	text-decoration: none;

}




.form input{
	height: 45px;
	border: none;
	background-color: #fff;
	width: 100%;
	
}

input:-webkit-autofill{
	-webkit-box-shadow: 0 0 100px #ecf0f1 inset !important;
	-webkit-text-fill-color: #000 im !important; 
}

.label-input{
	background-color: #fff;
	display: flex;
	align-items: center;
	margin: 5px;
}

.icon-modify{
	padding: 0 5px;
	border-radius: 25px;
	background-color: #fff;
}


.second-content .first-column{
	order: 2;
	z-index: -1;
}

.second-content .second-column{
	order: 1;
	z-index: -1;
}

.third-content .first-column{
	z-index: -1;
}

.third-content .second-column{
	z-index: -11;
}




.sign-up-js .first-content .first-column {
    z-index: -1;
}

.sign-up-js .first-content .second-column {
    z-index: -1;
}

.sign-up-js .second-content .second-column {
    z-index: 11;
}
.sign-up-js .second-content .first-column {
    z-index: 13;
}

.sign-up-js .content::before {
    left: 40%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 1.5s; /*MODIFIQUEI DE 3s PARA 1.3s*/

    z-index: 12;
}

.next-js .first-content .first-column {
    z-index: -1;
}

.next-js .first-content .second-column {
    z-index: -1;
}

.next-js .second-content .second-column {
    z-index: -1;
}
.next-js .second-content .first-column {
    z-index: -1;
}

.next-js .third-content .second-column {
    z-index: 11;
}
.next-js .third-content .first-column {
    z-index: 13;
}

.next-js .content::before {
    left: 0;
    border-radius: 15px 0 0 15px;
    animation: slideout 1.5s; /*MODIFIQUEI DE 3s PARA 1.3s*/
    z-index: 13;
}

/* Animação CSS*/

@keyframes slidein{
	from{
		left: 0;
		width: 60%;
	}
	25%{
		left:  5%;
		width: 50%;
	}
	50%{
		left: 25%;
		width: 60%
	}
	75%{
		left: 45%;
		width: 50%
	}
	to{
		left: 40%;
		width: 60%;
	}
}

@keyframes slideout{
	from{
		left: 40%;
		width: 60%;
	}
	25%{
		left:  45%;
		width: 50%;
	}
	50%{
		left: 25%;
		width: 60%
	}
	75%{
		left: 5%;
		width: 50%
	}
	to{
		left: 0;
		width: 60%;
	}
}

.btn{
    color: #fff;
    padding: 10px 50px 10px 50px;
    border-radius: 25px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.16);
    text-transform: uppercase;
    font-size: 10px;
    cursor: pointer;
    margin: 1rem 0 1rem 0;
    font-weight: bold;
    border: 1 solid #fff;
    align-self: center;
    width: 150px;
    font-weight: bold;
    
    
    
}

.btn:hover{
    background-color: #42B72A;
    transition: background-color 1s;
    
}

p{
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.social-media{
    margin: 1rem 0;
}
.link-social-media:not(:first-child){
    margin-left: 10px;
}
.link-social-media .item-social{
    transition: background-color .5s;
}
.link-social-media:hover .item-social{
    background-color: #58af9b;
    color: #fff;
    border-color: #58af9b;
}
.list-social{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}
.item-social {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
}

.txt-primary{
	color: #fff;
}

.txt-primary:hover{
    color: #42B72A;
}


.txt-thrid{
	color: #F4891F;
}

.txt-thrid:hover{
    color: #42B72A;
}
